!**/.eslintrc*
node_modules/*
.git*
dist
*.svg
*.ico
.gitignore
*.log
*.lock
.idea
.laradock/**/*
.laradock/*
.logs/**/*
.logs/*
.prototype/**/*
.prototype/*
.run/**/*
.run/*
.services/**/*
.services/*
.settings/**/*
.settings/*
.ssh/**/*
.ssh/*
.test-results/**/*
.test-results/*
.tmp/**/*
.tmp/*
.venv/**/*
.venv/*
tailwind-save-list
docker-compose.*
.dfx
/**/*.d.ts
storybook-static
.storybook
.vitest-result.json
src/frontend/node_modules/*